.acc{
    margin-left: 550px;
    margin-top: 40px;
    width: 400px;
    height: 450px;
    background-color: rgb(247, 247, 247);
    padding: 40px;
    border: rgb(233, 233, 233);
    border-style: solid;
}

.acc h3{
    vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}